@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root{
    --violet-color:#2E0052;
    --silver-color:#666666;
    --btn-bg-color1:#D9D9D9;
    --btn-bg-color2:#1D7000;
    /* --image-bg-color:rgba(0,102,255,0.17); */
    --input-txt-color:#919191;
    --input-bg-color:#F3F3F3;
    --image-bg-color: #D4E5FF;
    --btn-bg-color3:#FFD600;
    --btn-bg-color4:#FFB800;

}

a{
    text-decoration: none;
}

.toastBody{
    font-family: "Roboto Flex", sans-serif;
    font-size: 1.7rem;
    transition: Bounce;
    -webkit-transition: Bounce;
    -moz-transition: Bounce;
    -ms-transition: Bounce;
    -o-transition: Bounce;
}
.errorText{
    font-size: 1rem;
    font-weight: 400;
    color: red;
}


