.footer{
    position: relative;
    height: 6vh;
    width : 100vw;
    background-color: var(--violet-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.nav{
    position: fixed;
    bottom: 0;
    z-index: 10;
    height: 8vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-top: 1px solid #C8C8C8;
    padding: 0vh 6vw;
    justify-content: space-between;
    & img:hover{
        cursor: pointer;
    }
    & > div{
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
    & p{
        font-weight: 600;
        color: var(--violet-color);
    }
}
.activeLink{
    border-top: 4px solid var(--violet-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.cart{
    position: relative;
}
.cartCount{
    position: absolute;
    top: 0.2rem;
    background-color: #2DAD00;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2rem;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* @media (max-width: 768px){
    footer{
        height: 8vh;
    }
} */